$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.span__group {
  position: relative;
  padding: 15px 0 0;
  width: 347px;
  height: 33px;
}

.span__field {
  font-family: 'SF UI Regular';
  min-width: 347px;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 20px;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.span__label {
  position: absolute;
  top: 25px;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: $gray;
}

/* reset input */
.span__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.wrapper__input {
  display: flex;
}
