.card {
  &__wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    color: #2d2e46;
    &__title {
      font-family: 'Poppins';
      margin: 0 0 0 14px;
    }
  }
}

.cards__wrapper_table {
  width: 100%;
  height: 99.5%;
  background-color: #fefeff;
  padding: 24px 48px;
  border-radius: 10px;
}

.cards__wrapper_table::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

.cards__wrapper_table::-webkit-scrollbar-track {
  background: rgb(195, 177, 223);
  border-radius: 5px;
}

.cards__wrapper_table::-webkit-scrollbar-thumb {
  background: rgb(111, 96, 245);
  border-radius: 5px;
}
.cards__wrapper_table::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 5px;
}
.cards__wrapper_table::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}

.MuiTouchRipple-root {
  color: #21268f !important;
}

.MuiButtonBase-root {
  color: #21268f !important;
  font-weight: 400 !important;
  font-size: 18px !important;
}

.Mui-selected {
  color: #fff !important;
}

.MuiPaginationItem-page.Mui-selected {
  background-color: #21268f !important;
  color: #fff;
  border-radius: 5px;
}

.cards__wrapper_table {
  position: relative;
}
