.card-learn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 35px 30px;
  text-align: center;
  background-color: #fff;
}

.actions {
  justify-content: space-between;
}
.actions button {
  margin: 10px;
}
.actions button:first-child {
  max-width: 120px;
}

.actions button:last-child {
  max-width: 180px;
}
